VITE_FIREBASE_API_KEY=AIzaSyDd2_QsQWJTDdKngntSX55SssTQ7C_Yz9I
VITE_FIREBASE_AUTH_DOMAIN=forge-awe.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=forge-awe
VITE_FIREBASE_STORAGE_BUCKET=forge-awe.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=316903316326
VITE_FIREBASE_APP_ID=1:316903316326:web:2fb25395e528733c7a06a7
